nav img {
 height: auto;
 width: auto;
 max-width: 100px;
 max-height: 35px;
}

nav ul {
 margin: 10px;
}

nav li {
 font-size: 17px;
}

#time-column {
 border: black solid 2px;

}


.page-footer {
 margin-top: 15px;
 color: white;
 background-color: #5a6283;
}

.container-fluid {
 background-color: #394162;
 color: #ff8329;

}

h1 {
 font-size: 55px;
 text-align: center;
}

.pic-box {
 border: solid black 4px;
 margin: 10px;
 height: 175px;
 background-color: #A9A9A9;
 text-align: center;
}

.pic-box img {
 height: auto;
 width: auto;
 max-width: 100%;
 max-height: 100%;
 padding: 10px;
}

.start-box {
 border: solid black 1px;
 margin-bottom: 20px;
 height: 100px;
 width: 100px;
 margin-left: 83px;
 margin-top: 5px;
}

.timer-box {
 background-color: #5a6283;
 font-size: 35px;
}

#timer {
 text-align: center;
}

.timer-box img {
 
 max-width: 100%;
 max-height: 100%;
 width: auto;
 height: auto;
}

#toggleBtn {
 height: 100px;
 width: 100px;
 color: #18294a;
 background-image: url("http://stivco.com/random/tats/pokeball.gif");
}

#toggleBtnStop {
 height: 100px;
 width: 100px;
 color: #f0f0f0;
 background-color: #9c3941;
 margin-left: 83px;
 margin-top: 20px;
 margin-bottom: 5px;
}

a {
 text-decoration: none;
 color: #7383a4;
}







