@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

body {
 font-style: 'PT+Sans';
}

nav img {
 height: auto;
 width: auto;
 max-width: 100px;
 max-height: 35px;
}

nav ul {
 margin: 10px;
}

nav li {
 font-size: 17px;
}

#time-column {
 border: black solid 2px;

}


.page-footer {
 margin-top: 15px;
 color: white;
 background-color: #5a6283;
}

.container-fluid {
 background-color: #394162;
 color: #ff8329;

}

h1 {
 font-size: 55px;
 text-align: center;
}

.pic-box {
 border: solid black 4px;
 margin: 5px;
 height: 175px;
 background-color: #A9A9A9;
 text-align: center;
}

.pic-box img {
 height: auto;
 width: auto;
 max-width: 100%;
 max-height: 100%;
 padding: 5px;
}

.start-box {
 margin-bottom: 20px;
 height: auto;
 width: auto;
 text-align: center;
 margin-top: 5px;
}

.timer-box {
 background-color: #5a6283;
 font-size: 40px;
 text-align: center;
}

.clicks-box {
  background-color: #5a6283;
 font-size: 40px;
 text-align: center;
 margin-bottom: 20px;
 margin-top: 20px;
}

#countdown {
 text-align: center;
}

.timer-box img {
 
 max-width: 100%;
 max-height: 100%;
 width: auto;
 height: auto;
}

.music-box {
 text-align: center;
}

#musicBtn {
margin-bottom: 20px;
}

#toggleBtn {
 height: 100px;
 width: 100px;
 color: #18294a;
 background-image: url("http://stivco.com/random/tats/pokeball.gif");
}

#toggleBtnStop {
 height: 100%;
 width: 100%;
 color: #f0f0f0;
 background-color: #9c3941;
 margin-top: 20px;
 margin-bottom: 5px;
}

a {
 text-decoration: none;
 color: #7383a4;
}







